<ion-card>
  <ion-card-content 
  class="cita-contenido" 
  style="background-color: #e2dfdf; 
  padding: 20px;">
    <ion-text 
    color="dark" 
    class="cita-frase" 
    style="font-family: Arial, sans-serif; 
    font-style: italic; 
    font-size: 24px; 
    color: #066b9e;">
      {{ citaActual.frase }}
    </ion-text>

    <ion-text 
    color="medium" 
    class="cita-autor" 
    style="font-family: Arial, sans-serif; 
    font-weight: bold; 
    font-size: 18px; 
    color: #000000; 
    text-align: right; 
    display: block; 
    margin-top: 10px;">
      {{ citaActual.autor }}
    </ion-text>
  </ion-card-content>
</ion-card>
